* {
    font-family: sans-serif;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, div{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.canvas-board {
    max-width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.canvas-wrapper {
    padding: 40px;
}

.app-wrapper {
    display: flex;
}

.option-panel {
    margin-left: 60px;
    margin-top: 40px;
}
button.active {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}
.hide {
    display: none !important;
}